<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.scss">
</head>
<body>

<div class="container">
  <br>
  <header class="GRIMMER text-center">
    <h1>GRIMMER</h1>
  </header>
  <br>
  <p class="text-center">Log in</p>
  <form>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <label for="user">Email:</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="user" name="username">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <label for="pwd">  Password:</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" id="pwd" name="password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <a href="home" rol="button" class="btn btn-primary text-white" >Enter</a>
      </div>

      <div class="col-md-2">
        <a href= "new_users" class="text-primary bg-white" data-toggle="tooltip" title="Click here!">Are you new?</a>
      </div>
    </div>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="home_admin" class="text-primary bg-white" data-toggle="tooltip" title="Only in this read version of the app">Click here to see the admin view</a>

</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>



