<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container text-center">
    <header class="GRIMMER">
      <h1>GRIMMER</h1>
    </header>
    <h2>New User</h2>
    <br>


    <%= render 'form', user: @user %>

    <%= link_to 'Back to the start page', :root %>

  </div>
</body>
</html>

