<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.scss">
</head>

<div class="container">
  <br>
  <header class="GRIMMER ">
    <h1>GRIMMER</h1>
  </header>
  <br>
  <h4>New User</h4>
  <br>
  <%= render 'form', user: @user %>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a href="usePolicy" class="text-primary bg-white" data-toggle="tooltip" title="Click here to Show the document">Use Policy and Terms of Service</a>
    </div>
  </div>


  <br>
  <br>
  <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
</div>

</body>
</html>