<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.scss">
</head>
<body>

<div class="container">
  <br>
  <header class="GRIMMER ">
    <h1>GRIMMER</h1>
  </header>
  <br>
  <h4>Use policy</h4>
  <br>
  <div class="jumbotron container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce massa eros, pretium quis ipsum at, faucibus rhoncus erat. Duis vitae urna ut tortor varius rutrum. Integer congue interdum volutpat. Proin eleifend nulla a sapien condimentum lacinia. Vivamus nulla lacus, dictum a convallis id, viverra sed magna. Suspendisse interdum elit enim, sit amet mollis ante imperdiet sed. Vestibulum dapibus convallis fermentum. Maecenas bibendum lorem in ipsum tristique pellentesque. Aliquam sodales malesuada volutpat.

      Pellentesque ac mattis mauris. Mauris sed vestibulum sem, vitae pharetra elit. Duis pellentesque eleifend magna porttitor vulputate. Ut aliquet ipsum eget velit vehicula sollicitudin. Nam massa erat, volutpat sed nisl a, tincidunt commodo felis. Donec eu ullamcorper ante. Fusce id mollis mi. Praesent vel felis at dolor mollis imperdiet. Nulla in justo feugiat ante faucibus pulvinar non ut dolor. Integer at nibh ut quam vulputate tristique sit amet eu tellus. Aliquam erat volutpat. Ut ut orci tincidunt, tincidunt est quis, porttitor leo.

      Aenean a aliquam erat. Donec id nibh id eros tincidunt efficitur. Sed quis dui felis. Nunc fermentum euismod eros, et viverra justo congue tincidunt. Etiam venenatis risus a nisi euismod, ac ornare arcu efficitur. Nullam dapibus ac lacus ac consequat. Donec non nibh id libero ultricies finibus. Sed ornare pharetra accumsan. Nam sed magna ultrices, tristique metus ut, luctus libero. Ut neque velit, molestie tempus nisl vitae, molestie efficitur augue. Morbi sed ante nibh.

      Phasellus semper neque eu tellus feugiat, at semper nunc finibus. Donec mattis, tellus id pretium tempus, nunc dui condimentum arcu, a vestibulum elit est ut ligula. Sed finibus dictum pharetra. Cras aliquet pretium vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ultricies placerat turpis vel ornare. Ut mattis consequat aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>

  </div>
  <h4>Terms of Service</h4>
  <br>
  <div class="jumbotron container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce massa eros, pretium quis ipsum at, faucibus rhoncus erat. Duis vitae urna ut tortor varius rutrum. Integer congue interdum volutpat. Proin eleifend nulla a sapien condimentum lacinia. Vivamus nulla lacus, dictum a convallis id, viverra sed magna. Suspendisse interdum elit enim, sit amet mollis ante imperdiet sed. Vestibulum dapibus convallis fermentum. Maecenas bibendum lorem in ipsum tristique pellentesque. Aliquam sodales malesuada volutpat.

      Pellentesque ac mattis mauris. Mauris sed vestibulum sem, vitae pharetra elit. Duis pellentesque eleifend magna porttitor vulputate. Ut aliquet ipsum eget velit vehicula sollicitudin. Nam massa erat, volutpat sed nisl a, tincidunt commodo felis. Donec eu ullamcorper ante. Fusce id mollis mi. Praesent vel felis at dolor mollis imperdiet. Nulla in justo feugiat ante faucibus pulvinar non ut dolor. Integer at nibh ut quam vulputate tristique sit amet eu tellus. Aliquam erat volutpat. Ut ut orci tincidunt, tincidunt est quis, porttitor leo.

      Aenean a aliquam erat. Donec id nibh id eros tincidunt efficitur. Sed quis dui felis. Nunc fermentum euismod eros, et viverra justo congue tincidunt. Etiam venenatis risus a nisi euismod, ac ornare arcu efficitur. Nullam dapibus ac lacus ac consequat. Donec non nibh id libero ultricies finibus. Sed ornare pharetra accumsan. Nam sed magna ultrices, tristique metus ut, luctus libero. Ut neque velit, molestie tempus nisl vitae, molestie efficitur augue. Morbi sed ante nibh.

      Phasellus semper neque eu tellus feugiat, at semper nunc finibus. Donec mattis, tellus id pretium tempus, nunc dui condimentum arcu, a vestibulum elit est ut ligula. Sed finibus dictum pharetra. Cras aliquet pretium vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ultricies placerat turpis vel ornare. Ut mattis consequat aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>
  </div>
  <br>
  <div class="col-md-2">
    <a href="signIn" rol="button" class="btn btn-primary text-white" >Back</a>
  </div>
</div>
<br>
<br>
</body>
</html>