<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <img src="angry-monkey.jpg" style="width:40px;" alt="angry-monkey">
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4>GRIMMER</h4>
  </div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home_admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blacklist">Blacklist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dumplist">Dumplist</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="view_post">Posts</a>
        <a class="dropdown-item" href="view_user">Users</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        SuperAdmin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="superAdminNew">New Admin</a>
        <a class="dropdown-item" href="modify_admin">Modify Admin</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="LogIn">Log Out</a>
    </li>
  </ul>
</nav>
<br>

<div class="container mt-3">
  <h2> Users in BlackList</h2>
  <p>You can search by nickname</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Results</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <tr>
      <td>
        <% @black_list1.each do |user| %>
         <div class="row">
            <div class="col-md-4">
              <%= link_to user.user.nickname , Admin_user_profile_path(user.user.id) %>
              <br>
              <h10> <%= user.user.email %> </h10>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
              <%= user.user.photo %>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Restore</button>
            </div>
         </div>
        <%end %>
        <div class="row">

        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>