// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Style1 {padding-top:50px;height:500px;color: black; background-color: lightgrey; border-radius: 15px; flex-direction: row; overflow: scroll;}
#StylePost {background-color:gray;  }
.GRIMMER{color: #cc0000}