<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <img src="angry-monkey-man-260nw-125195882.jpg" style="width:40px;">
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand "  href="">GRIMMER</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Profile">Profile</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Posts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New Post</a>
        <a class="dropdown-item" href="#">Delete Post</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Search
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">User</a>
        <a class="dropdown-item" href="#">Post</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Configuration</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="#">Log Out</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="container-fluid row">
      <div class="col-sm-3 "> fotousuario
      </div>
      <div class="col-sm-3 ">
        <div class="row h3">nombre usuario</div>
        <div class="row">contry, city</div>
      </div>
      <div class="col-sm-6">
        <div class="container-fluid Style2">description</div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid row">
    <div class="col-sm-6 ">
      <h5>User Posts</h5>
      <div  class="container-fluid Style2 end">
        <div class="d-flex flex-column mb-3" id ="StylePost" >
          <div class="d-flex mb-3 ">
            <div class="p-2  ">
              <a href="full_post" class="text-primary description" data-toggle="tooltip"  >title</a>
            </div>
            <div class="p-2 ml-auto ">fecha de creacion</div>
          </div>
          <div class="p-2" >Post text</div>
        </div>
        <br>
        <div class="d-flex flex-column mb-3" id ="StylePost" >
          <div class="d-flex mb-3 ">
            <div class="p-2  ">
              <a href="full_post" class="text-primary description" data-toggle="tooltip"  >title</a>
            </div>
            <div class="p-2 ml-auto ">fecha de creacion</div>
          </div>
          <div class="p-2" >Post text</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <h5>User Shared</h5>
      <div  class="container-fluid Style2 end">
        <div class="d-flex flex-column mb-3" id ="StylePost" >
          <div class="d-flex mb-3 ">
            <div class="p-2  ">
              <a href="full_post" class="text-primary description" data-toggle="tooltip"  >title</a>
            </div>
            <div class="p-2 ml-auto ">fecha de creacion</div>
          </div>
          <div class="p-2" >Implement APIs to perform CRUD operations on User and Post resources. APIs must be strictly RESTful, thus utilizing routes automatically defined by Rails after User and Post resources have been properly defined in the routes.rb file. Create a collection of requests in Postman with tests for your API operations, and include in the assignment report the URL of the collection. Use the “Share Collection” feature in Postman to get the URL to your collection of test cases.Implement APIs to perform CRUD operations on User and Post resources. APIs must be strictly RESTful, thus utilizing routes automatically defined by Rails after User and Post resources have been properly defined in the routes.rb file. Create a collection of requests in Postman with tests for your API operations, and include in the assignment report the URL of the collection. Use the “Share Collection” feature in Postman to get the URL to your collection of test cases.</div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>

</body>
</html>