<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <img src="angry-monkey.jpg" style="width:40px;" alt="angry-monkey">
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4>GRIMMER</h4>
  </div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home_admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blacklist">Blacklist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dumplist">Dumplist</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Posts</a>
        <a class="dropdown-item" href="view_user">Users</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        SuperAdmin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New Admin</a>
        <a class="dropdown-item" href="#">Modify Admin</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="LogIn">Log Out</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <h2>Home</h2>
  <br>
  <p>Welcome Administrator</p>
  <br>
  <p>Remember always be serious about your job so the users can have a better experience in the web page.  </p>
  <br>
  <p>Work well and have a good day</p>
</div>

</body>
</html>