<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <img src="angry-monkey.jpg" style="width: 40px;" alt="angry-monkey">
</nav>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4> GRIMMER </h4>
  </div>


  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Profile">Profile</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Posts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="publish">New Post</a>
        <a class="dropdown-item" href="deletePost">Delete Post</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Search
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="search_user">User</a>
        <a class="dropdown-item" href="#">Post</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="uConfig">Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="LogIn">Log Out</a>
    </li>
  </ul>
</nav>
<br>

<div class="container ">
  <div class = "col-xl-11">
    <h1>Most Recent Post</h1>
<<<<<<< HEAD
    <div  class="container-fluid Style2 end">
    <div class="d-flex flex-column mb-3" id ="StylePost" >
      <div class="d-flex mb-3 ">
        <div class="p-2  ">
          <a href="full_post" class="text-primary description" data-toggle="tooltip"  >title</a>
        </div>
        <div class="p-2 ml-auto ">fecha de creacion</div>
=======
    <div  class="container-fluid " id="Style1">

      <div class="container-fluid" >
        <div class="row"  >

          <div class="media border p-3 "id="StylePost">
            <div class="media-body">
              <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id ="StylePost">title</div>
        <br>
>>>>>>> 35f0c19c48353547e7db54c13a20e569d242b812
      </div>
      <div class="p-2" >Post text</div>
    </div>
    <br>
    <div class="d-flex flex-column mb-3" id ="StylePost" >
      <div class="d-flex mb-3 ">
        <div class="p-2  ">
          <a href="#" class="text-primary description" data-toggle="tooltip"  >title</a>
        </div>
        <div class="p-2 ml-auto ">fecha de creacion</div>
      </div>
      <div class="p-2" >Post text</div>
    </div>
  </div>
    </div>
  </div>
  <br>
  <div class="container">
  <div class = "col-xl-11">
    <h1>Most Comment Post</h1>
    <div  class="container-fluid Style2 end">
      <div class="d-flex flex-column mb-3" id ="StylePost" >
        <div class="d-flex mb-3 ">
          <div class="p-2  ">
            <a href="#" class="text-primary description" data-toggle="tooltip"  >title</a>
          </div>
          <div class="p-2 ml-auto ">fecha de creacion</div>
        </div>
        <div class="p-2" >Post text</div>
      </div>
      <br>
      <div class="d-flex flex-column mb-3" id ="StylePost" >
        <div class="d-flex mb-3 ">
          <div class="p-2  ">
            <a href="#" class="text-primary description" data-toggle="tooltip"  >title</a>
          </div>
          <div class="p-2 ml-auto ">fecha de creacion</div>
        </div>
        <div class="p-2" >Post text</div>
      </div>
    </div>
  </div>
  </div>
</div>

</body>
</html>